name: Build and Test SQLNotify

env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Build the project
        run: |
          docker compose build sqlnotify

      - name: Run tests
        run: make test

      - name: Upload coverage to Codecov
        run: make coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish to PyPI
        run: make publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

      - name: Compose down
        run: docker compose down --remove-orphans
